.Modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .BackDrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .ModalContent {
    position: fixed;
    box-sizing: border-box;
    max-width: 700px;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: fit-content;
    border-radius: 16px;

    .ModalHeader {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      background-color: purple;
      padding: 20px;

      span {
        font-size: 30px;
        color: white;
      }
    }

    .ModalBody {
      padding: 60px 20px;
      font-size: 20px;
      color: black;
    }

    .ModalFooter {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 20px;

      button {
        cursor: pointer;
        font-size: 20px;
        padding: 5px 20px;
        background-color: purple;
        color: white;
        border: none;
      }
    }
  }
}
